{% extends "layout.html" %}
{% block content %}
    {% for picture in pictures %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + picture.author.profile_pic) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ picture.author.username }}</a>
              <small class="text-muted">{{ picture.date_taken.strftime('%Y-%m-%d') }}</small>
            </div>
            <img class="article-img-1" src="{{ url_for('static', filename=('trip_' ~ picture.folder_id ~ '/' ~ picture.image_file)) }}">
            <h2><a class="article-content" href="{{ url_for('picture', picture_id=picture.id) }}">{{ picture.description }}</a></h2>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
