{% extends "layout.html" %}
{% block content %}
    <!-- Side navigation -->
    <a href="/folder/new">
        <div class="add_button">
            <div class="header1">Add album</div>
            <div class="header2">+</div>
        </div>
    </a>

    <!-- Page content -->
    <div class="main">
        <div class="content-section">
            <h1>Albums</h1>
            <h5>Here are all the albums. Please choose one to see the respective pictures</h5>
        </div>
        <div class="row_folder">
            {% for folder in folders %}
            <div class="column_folder1">
                <div class="crop">
                    <a href="{{ url_for('folder', folder_id=folder.id) }}">
                        <img src="{{ url_for('static', filename=('trip_' ~ folder.id ~ '/' ~ folder.folder_image)) }}">
                        <div class="content">
                          <hh6w>{{folder.title}}</hh6w>
                          <p>{{folder.start_date}}  -  {{folder.end_date}}</p>
                        </div>
                    </a>
                </div>
            </div>

            {% endfor %}
        </div>

    </div>

{% endblock content %}
<a class="nav-item nav-link" href="{{ url_for('new_picture') }}">New Picture</a>