{% extends "layout.html" %}
{% block content %}
    <!-- Side navigation -->

    <!-- Page content -->
    <div class="main">
        <a href="/folder/{{folder.id}}/picture/new">
            <div class="add_button">
                <div class="header1">Add picture</div>
                <div class="header2">+</div>
            </div>
        </a>
        <ul class="breadcrumb">
          <li><a href="{{ url_for('folders') }}">Albums</a></li>
          <li>{{folder.title}}</li>
        </ul>
        <div class="content-section">
            <hh1>{{folder.title}}</hh1> <br>
            <hh6>{{folder.destinations}}</hh6> <br>
            <hh6>{{folder.start_date}} &nbsp - &nbsp {{folder.end_date}}</hh6> <br>
            <hh6>{{folder.description}}</hh6>
        </div>
        <div class="row">
            {% for picture in pictures %}
                <a href="/picture/{{picture.id}}">
                  <div class="column">
                    <img src="{{ url_for('static', filename=('trip_' ~ picture.folder_id ~ '/' ~ picture.image_file)) }}">
                  </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}