{% extends "layout.html" %}
{% block content %}
    <!-- Side navigation -->
      <!--<div class="sidenav">
        <h5>Our Sidebar</h5>
        <p class='text-muted'>You can put any information here you'd like.
          <ul class="list-group">
            <a href="#" class="list-group-item list-group-item-action">My Pictures</a>
            <a href="#" class="list-group-item list-group-item-action">Add picture</a>
            <a href="#" class="list-group-item list-group-item-action">etc</a>
          </ul>
        </p>
    </div>-->

    <!-- Page content -->
   <div class="main_wide">
       <hh2>My pictures</hh2>
        <h5>Here are all the pictures that you have uploaded.</h5>
        <div class="row">
            {% for picture in pictures %}
            <a href="/picture/{{picture.id}}">
              <div class="column">
                <img src="{{ url_for('static', filename=('trip_' ~ picture.folder_id ~ '/' ~ picture.image_file)) }}">

              </div>
            </a>
            {% endfor %}
        </div>
        <!--<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for picture in pictures %}
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename=('trip_' ~ picture.folder_id ~ '/' ~ picture.image_file)) }}"
                             class="d-block w-100" alt="Lights">
                    </div>
                {% endfor %}
            </div>
        </div> -->
        <!--{% for picture in pictures %}
            <div class="row">
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="/picture/{picture_id}">
                    <img src="{{ url_for('static', filename=('trip_' ~ picture.folder_id ~ '/' ~ picture.image_file)) }}"
                         alt="Lights" style="width:100%">
                  </a>
                </div>
              </div>
            </div>
        {% endfor %}
        {% for picture in pictures %}
            <article class="media image-section">
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + picture.author.profile_pic) }}">
              -->
              <!--<div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">{{ picture.author.username }}</a>
                  <small class="text-muted">{{ picture.date_taken.strftime('%Y-%m-%d') }}</small>
                </div>
                <img class="img-fluid" src="{{ url_for('static', filename=('trip_' ~ picture.folder_id ~ '/' ~ picture.image_file)) }}">
                <p class="article-content">{{ picture.description }} </p>

              </div>
            </article>
        </div>
         <div class="row">
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="/picture/{picture_id}">
                    <img src="{{ url_for('static', filename=('trip_' ~ picture.folder_id ~ '/' ~ picture.image_file)) }}"
                         alt="Lights" style="width:100%">
                  </a>
                </div>
              </div>
            </div>
    -->
    </div>
    <!--
    {% endfor %}
{% endblock content %}
